Repository corda/corda-docs-portal, pull requests merged in 2021-09, with the labels that each got.

#219 doc-3314 Changed repo from Maven Central to Artifactory for Tokens SDK
  content/en/platform/corda/5.0-dev-preview-1/tokens-sdk/overview.md
Labels: bug, documentation, team technical writing, dev preview

#220 doc-3315 Fixed formatting of known issue in release notes.
  content/en/platform/corda/5.0-dev-preview-1/release-notes-c5dp1.md
Labels: bug, documentation, team technical writing, dev preview

#222 DOC-3318 Removed references to Payments app
  config/_default/menus/menus.en.toml
  content/en/apps/_index.md
  content/en/apps/payments/modulr-payment-rail.md
  content/en/apps/payments/payments-core-cordapp.md
  content/en/apps/payments/payments-index.md
  content/en/platform/corda/4.7/open-source/release-notes.md
Labels: bug, documentation, team technical writing, dev preview

#224 NOTICK Small change to footer image alt-text
  themes/doks/layouts/partials/footer/footer.html
Labels: team technical writing, doc infrastructure & IA

#226 Resolve critical depenabot alerts
  .eslintrc.json
  .markdownlint.json
  .markdownlintignore
  .stylelintignore
  .stylelintrc.json
  .versionrc.json
  netlify.toml
  package-lock.json
  package.json
Labels: team technical writing, theme, doc infrastructure & IA

#225 DOC-3316 Added version of Kotlin supported by DP1
  content/en/platform/corda/5.0-dev-preview-1/getting-started/prerequisites.md
Labels: documentation, team technical writing, dev preview

#227 DOC-3320 Corrected to the Corda 5 Developer Preview
  content/en/platform/corda/5.0-dev-preview-1/cordapps/integration-tests.md
  content/en/platform/corda/5.0-dev-preview-1/packaging/cordapp-builder.md
  content/en/platform/corda/5.0-dev-preview-1/packaging/gradle-plugin/overview.md
  content/en/platform/corda/5.0-dev-preview-1/packaging/overview.md
Labels: bug, documentation, team technical writing, dev preview

#228 NOTICK Updated r3 logo on site
  themes/doks/assets/scss/layouts/_home.scss
  themes/doks/static/r3-docs-open-graph-old.png
  themes/doks/static/r3-docs-open-graph.png
Labels: team technical writing, doc infrastructure & IA

#229 Add more contrast for scrollbars
  themes/doks/assets/scss/common/_dark.scss
  themes/doks/assets/scss/common/_global.scss
  themes/doks/assets/scss/layouts/_header.scss
  themes/doks/assets/scss/layouts/_sidebar.scss
Labels: enhancement, team technical writing, theme, doc infrastructure & IA

#231 DOC-3121 Change to google analytics setup
  config.toml
  themes/doks/assets/js/vendor/googleanalytics.js
  themes/doks/layouts/partials/head/head.html
Labels: bug, team technical writing, theme, doc infrastructure & IA

#232 DOC-3121 DOC-3331 DOC-3330 DOC-3326 DOC-3325 DOC-3327 Various fixes
  config.toml
  content/en/announcements/_index.md
  content/en/apps/bankinabox/bank-index.md
  content/en/apps/reissuance/state-reissuance.md
  content/en/platform/conclave/_index.md
  content/en/release-notes/_index.md
  content/en/tools/ledgergraph/ledgergraph-index.md
  themes/doks/assets/js/vendor/googleanalytics.js
  themes/doks/static/js/home.js
Labels: bug, documentation, enhancement, team technical writing, theme, dev preview, doc infrastructure & IA

#234 DOC-3121 Google analytics on site - reverted to GTM
  config.toml
  content/en/announcements/_index.md
  themes/doks/assets/js/cookie-banner.js
  themes/doks/assets/js/feedback.js
  themes/doks/assets/js/vendor/googleanalytics.js
  themes/doks/assets/js/vendor/googletagmanager.js
  themes/doks/layouts/index.html
  themes/doks/layouts/partials/head/head.html
  themes/doks/layouts/partials/head/script-header.html
  themes/doks/layouts/partials/header/header.html
Labels: documentation, team technical writing, theme, don't merge yet, doc infrastructure & IA

#235 Update alert-info style & gtag
  themes/doks/assets/js/cookie-banner.js
  themes/doks/assets/js/vendor/googletagmanager.js
  themes/doks/assets/scss/common/_global.scss
  themes/doks/assets/scss/components/_alerts.scss
  themes/doks/layouts/partials/head/script-header.html
  themes/doks/static/icons/info.svg
Labels: theme, doc infrastructure & IA

#236 DOC-3333: Added missing step and command to remove network in running sample Co…
  content/en/platform/corda/5.0-dev-preview-1/tutorials/run-demo-cordapp.md
Labels: bug, documentation, team technical writing, waiting for SME review, dev preview

#241 DOC-3344 Fixed links
  content/en/platform/corda/1.0/cenm/_index.md
  content/en/platform/corda/1.1/cenm/_index.md
  content/en/platform/corda/1.2/cenm/_index.md
  content/en/platform/corda/1.3/cenm/_index.md
  content/en/platform/corda/1.4/cenm/_index.md
  content/en/platform/corda/1.5/cenm/_index.md
  content/en/platform/corda/4.0/enterprise/_index.md
  content/en/platform/corda/4.0/open-source/_index.md
  content/en/platform/corda/4.1/enterprise/_index.md
  content/en/platform/corda/4.1/open-source/_index.md
  content/en/platform/corda/4.2/enterprise/_index.md
  content/en/platform/corda/4.3/enterprise/_index.md
  content/en/platform/corda/4.3/open-source/_index.md
  content/en/platform/corda/4.4/enterprise/_index.md
  content/en/platform/corda/4.4/open-source/_index.md
  content/en/platform/corda/4.5/enterprise/_index.md
  content/en/platform/corda/4.5/open-source/_index.md
  content/en/platform/corda/4.6/enterprise/_index.md
  content/en/platform/corda/4.6/open-source/_index.md
  content/en/platform/corda/4.7/enterprise/_index.md
  content/en/platform/corda/4.7/open-source/_index.md
  content/en/platform/corda/4.8/enterprise/_index.md
  content/en/platform/corda/4.8/open-source/_index.md
Labels: bug, team technical writing, doc infrastructure & IA
